* { margin: 0;}

body {
	background-image: url(../images/16.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#h1villas {
  	color: hotpink;
 	margin-left: 20px;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 20px;
	font-family: 'Bebas Neue', cursive;
}

.pink {
	background-color: hotpink;
}

#demo {
	color: black;
}

h2 {
	color: white;
}


.villas {
	width:350px;
	height:350px;
}

#myARTICLE {
  border: 5px solid coral;
  animation: mymove 5s infinite;
  padding: 10px 25px 10px 25px;
  background-color: rgba(192,192,192,0.3);
}

@keyframes mymove {
  50% {border-color: lightblue;}
}

 .text {
 color: white;
 }